body {
 text-align: center;
 background-color: #f4f4f4;
 font-family: Arial, sans-serif;
}

h1 {
 color: #333;
}

canvas {
 border: 2px solid black;
 margin-top: 20px;
}

/*body{
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#FF5722;
} */